* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* made .header into a flexbox */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}
/*changed .header div {} to .nav {} class removed float/padding*/
.nav {
    display: flex;
    justify-content: center;  
    margin: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*created .full-content class/converted full-content to a flex-box */
.full-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*added flexbox to content*/
.content {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* conbined styles in .content into one style added flex: 1 so content doesnt overflow from parent*/
.optimization {
    flex: 1;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* added line height for easy reading*/
.coptimization div {
    line-height: 1.5;
}
/*moved max-height into float properties*/
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}
/* turned .benefits into a flexbox/ used gap:; to put space between elements*/
.benefits {
    margin-bottom: 24px;
    padding: 20px;
    gap: 50px;
    clear: both;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}
.benefit {
    flex: 1;
}
/* condensed benefit h3 styles into one */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*condensed benefit images into one style class*/
.benefit-img {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 150px;
}

/* combined image styles into one class */


/* combined .content h2 elements into one style */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
